@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-weight: 300;
    src: url(./font/TildaSans-Black.ttf) format(ttf);
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-weight: 400;
    src: url(./font/TildaSans-Bold.ttf) format(ttf);
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-weight: 500;
    src: url(./font/TildaSans-ExtraBold.ttf) format(ttf);
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-weight: 600;
    src: url(./font/TildaSans-Light.ttf) format(ttf);
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-weight: 700;
    src: url(./font/TildaSans-Medium.ttf) format(ttf);
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-weight: 800;
    src: url(./font/TildaSans-Regular.ttf) format(ttf);
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-weight: 900;
    src: url(./font/TildaSans-Semibold.ttf) format(ttf);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.a:visited {
    text-decoration: none;
    color: inherit;
}

button, input, textarea {
    outline: none;
    appearance: none;
}

button:focus, input:focus, textarea:focus {
    outline: none;
}

.color-black {
    color: #141C3A;
}
.color-orange {
    color: #FF9235;
}
.background-turquoise {
    background-color: #5dd9c8;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: "TildaSans", sans-serif;
    font-weight: 700;
    font-size: 2.8vw;
    text-align: center;
    text-transform: uppercase;
}

.desc-font {
    font-family: "TildaSans", sans-serif;
    font-size: 1.87vw;
    font-weight: 400;
    line-height: 2.8vw;
    text-align: center;
}

img {
    border-radius: 10px;
}